<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- this is an option to add styles external from any site
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">-->

        <!--Here when we want to use css on internal folders-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
        <img src="{{ url_for('static', filename='img/images.jpeg')}}" >
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <footer>
            <div class="container">
                <div class="row">
                    <p class="copyright text-muted">&copy; Pichones Corp 2020 </p>
    
                </div>
            </div>
        </footer>
        
        
       
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js' )}}"></script>
    <!-- this is an option to add styles external from any site
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  -->  
</html>