<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Esta es una forma de agregar un FAVICON o icono en la tab -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/pichon.jpeg')}}">
     <!-- Esta es una forma de  agregar syle desde un archivo .css  dentro de un link-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <!-- Esto es una forma de traer una imagen -->
    <img src="{{ url_for('static', filename='img/images.jpeg')}}" alt="Error!!, image not found" >

    <title>{% block title %}{% endblock %}</title>
    <!-- Esta es una forma de agregar style desde un target ejemplo header -->
   <style>
       footer {
        background: rgba(7, 100, 7, 0.856);
    }

   </style>

</head>

<!-- esta es un a forma de  poner style dentro de los atributos ejemplo en body -->
<body style="color: white; background: yellow;">
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#inicio">INICIO</a>
                </li>
                <li>
                    <a href="#nosotros">SOBRE NOSOTROS</a>
                </li>
                <li>
                    <a href="#trabajamos">COMO TRABAJAMOS</a>
                </li>
                <li>
                    <a href="#contactanos">CONTACTO & FAQ</a>
                </li>
                <li>
                    <a href="#staff">STAFF</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}

    <footer>
        <p>Politicas de privacidad <br/> Terminos y condiciones <br/>  Redes sociales</p>
    </footer>
</body>
</html>